<div class="container">
  <div class="col-md-12">
    <h2>Bảng điểm sinh viên</h2>
    <i class="fas fa-user-graduate"></i>
    <select [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)" class="selectInput">
      <option *ngFor="let student of studentsName" [ngValue]="student" selected="selectedValue" style="font-size: 18px">{{student}}</option>
    </select>
    <p style="margin-top: 5px">GPA: 3.2/4</p>
  </div>
  <div class="row g-0">
    <!-- score table -->
    <table class="table table-bordered study-table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tên môn học</th>
        <th scope="col">Điểm hệ số 4</th>
        <th scope="col">Điểm hệ số 10</th>
        <th scope="col">Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hocky"><h3>Học kì I - Năm học 2018-2019</h3></tr>
      <tr *ngFor="let subject of first">
        <td>{{subject.subject_name}}</td>
        <td>{{subject.out_of_4}}</td>
        <td>{{subject.out_of_10}}</td>
        <td>{{subject.status}}</td>
      </tr>
      <tr class="hocky"><h3>Học kì II - Năm học 2018-2019</h3></tr>
      <tr *ngFor="let subject of second">
        <td>{{subject.subject_name}}</td>
        <td>{{subject.out_of_4}}</td>
        <td>{{subject.out_of_10}}</td>
        <td>{{subject.status}}</td>
      </tr>
      <tr class="hocky"><h3>Học kì hè - năm học 2018-2019</h3></tr>

      <!-- 19-20 -->
      <tr class="hocky"><h3>Học kì I - Năm học 2019-2020</h3></tr>

      <tr class="hocky"><h3>Học kì II - Năm học 2019-2020</h3></tr>

      <tr class="hocky"><h3>Học kì hè - Năm học 2019-2020</h3></tr>

      <!-- 20-21 -->
      <tr class="hocky"><h3>Học kì I - Năm học 2020-2021</h3></tr>

      <tr class="hocky"><h3>Học kì II - Năm học 2020-2021</h3></tr>

      <tr class="hocky"><h3>Học kì hè - Năm học 2020-2021</h3></tr>

      <!-- 21-22 -->
      <tr class="hocky"><h3>Học kì I - Năm học 2021-2022</h3></tr>

      <tr class="hocky"><h3>Học kì II - Năm học 2021-2022</h3></tr>

      <tr class="hocky"><h3>Học kì hè - Năm học 2021-2022</h3></tr>

      </tbody>
    </table>
  </div>
</div>
