<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="top_link"></div>
      <div class="contact">
        <form action="" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <h1>DTU Connection System</h1>
          <input type="text" name="username" [(ngModel)]="form.username" required #username="ngModel"
                 placeholder="TÀI KHOẢN">

          <!--         Validation user name -->
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert">
            <div class="notification" *ngIf="username.errors?.['required'] && f.submitted">
                Mời nhập tên đăng nhập
            </div>
          </div>
          <!--          -->
          <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="4"
                 placeholder="MẬT KHẨU">
          <!--          Validation password-->
          <div *ngIf="password.invalid && (password.dirty || password.touched) && f.submitted "
               class="alert">
            <div class="notification" *ngIf="password.errors?.['required']">
              Bạn phải nhập nhập khẩu
            </div>
            <div class="notification" *ngIf="password.errors?.['minlength'] && f.submitted">
              Mật khẩu không đúng. Mới nhập lại.
            </div>
          </div>
          <!--          -->
          <button class="submit">Đăng Nhập</button>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Đăng nhập lỗi, vui lòng đăng nhập lại
          </div>
        </form>
      </div>
    </div>
    <div class="right">
      <div class="right-text">
        <h2>Đại học Duy Tân</h2>
        <h5>Bản lĩnh Việt Nam - Đổi mới, Sáng tạo, Vươn tới tầm cao </h5>
      </div>
      <div class="right-inductor">
        <img style="width: 100%; height: 100%" src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft"
        alt="">
      </div>
    </div>
  </div>
</section>
</body>


<!--<div class="col-md-12">-->
<!--  <div class="card card-container">-->
<!--    <img-->
<!--      id="profile-img"-->
<!--      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"-->
<!--      class="profile-img-card"-->
<!--    />-->
<!--    <form-->
<!--      *ngIf="!isLoggedIn"-->
<!--      name="form"-->
<!--      (ngSubmit)="f.form.valid && onSubmit()"-->
<!--      #f="ngForm"-->
<!--      novalidate-->
<!--    >-->
<!--      <div class="form-group">-->
<!--        <label for="username">Tên đăng nhập</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="username"-->
<!--          [(ngModel)]="form.username"-->
<!--          required-->
<!--          #username="ngModel"-->
<!--        />-->
<!--        <div-->
<!--          class="alert alert-danger"-->
<!--          role="alert"-->
<!--          *ngIf="username.errors && f.submitted"-->
<!--        >-->
<!--          Username is required!-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Mật khẩu</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          name="password"-->
<!--          [(ngModel)]="form.password"-->
<!--          required-->
<!--          minlength="0"-->
<!--          #password="ngModel"-->
<!--        />-->
<!--        <div-->
<!--          class="alert alert-danger"-->
<!--          role="alert"-->
<!--          *ngIf="password.errors && f.submitted"-->
<!--        >-->
<!--          <div *ngIf="password.errors.required">Password is required</div>-->
<!--          <div *ngIf="password.errors.minlength">-->
<!--            Password must be at least 6 characters-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary btn-block">-->
<!--          Đăng nhập-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div-->
<!--          class="alert alert-danger"-->
<!--          role="alert"-->
<!--          *ngIf="f.submitted && isLoginFailed"-->
<!--        >-->
<!--          Đăng nhập lỗi, vui lòng đăng nhập lại: {{ errorMessage }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--    <div class="alert alert-success" *ngIf="isLoggedIn">-->
<!--      Logged in as {{ roles }}.-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

