<div class="container">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="openQuestionForm()" [class.tat]="isClicked">Thêm câu hỏi</button>
    <form name="questionForm" #questionForm="ngForm" action="" class="question-form" [class.toggle]="isClicked"
          (ngSubmit)="onSubmit(questionForm)">
      <div class="group-input">
        <label for="content">Nội dung câu hỏi</label>
        <textarea ngModel name="content" type="text" id="content"></textarea>
      </div>
      <button class="acp-btn btn btn-primary" (click)="openQuestionForm()">Gửi câu hỏi</button>
    </form>
    <h3 style="font-weight: bold; margin-top: 30px; font-size: 18px"> Quản lý câu hỏi của bạn</h3>
    <hr>

    <div class="list-question">
      <div class="group-question" *ngFor="let question of list_question">
        <div class="toggle" [class.question-form]="isClickedInput">
          <div class="QA">
            <div class="question-view"><mat-icon> not_listed_location</mat-icon> {{question.question_content}}</div>
            <div class="btn-group" [class.question-form]="isClickedAnswer">
              <button class="btn btn-primary" (click)="openAnswerView(question)"
                      *ngIf="question.list_answer.length===0">Sửa
                câu hỏi
              </button>
              <button class="btn btn-primary" (click)="deleteQuestion(question)">Xóa câu hỏi</button>
            </div>
            <div class="answer-view" *ngFor="let answer of question.list_answer">{{answer.answer_content}}</div>
          </div>
        </div>

      </div>
      <div class="question-form toggle-form" [class.toggle]='isClickedAnswer'>
        <div class="my-form">
          <textarea rows="4" cols="50" [(ngModel)]=content class="input-update"
                    value="{{question.question_content}}"></textarea>
          <button class="btn btn-primary update-btn" (click)="updateQuestion(question)">Gửi</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
