.container {
  margin-top: 10px;
  position: relative;
}

.list-question {
  margin-bottom: 10px !important;
}

/*đóng form*/
.question-form {
  display: none;

}

.tat {
  opacity: 0;
}

/*Mở*/
.toggle {
  display: block;
}

label {
  display: block;
}

textarea {
  width: 400px;
  height: 200px;
}

.group-question {
  margin-bottom: 10px;
}

.custom-btn {
  display: inline-block;
  border: 1px solid #485460;
  border-radius: 5px;
  background-color: #00a8ff;
  margin-left: 20px;
  padding: 8px;
  color: white;
}
.btn{
  border: 1px solid #485460 !important;
  border-radius: 5px !important;
  margin-left: 20px !important;
  padding: 8px !important;
}

.custom-btn:hover {
  background-color: #485460;
  color: #FFFFFF;
  box-shadow: 2px 4px 8px black;
}

.close-question-view {

}

.question-view {
  display: inline-block;
  width: 700px;
  background-color: #EDECEC;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;

}

.input-update {
  padding: 8px;
  border-radius: 5px;
  min-width: 700px;
}

.answer-view {
  border: 1px solid #48dbfb;
  max-width: 700px;
  min-height: 100px;
  padding: 8px;
  border-radius: 5px;
}


.toggle-form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 200px 30px 0px 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.my-form {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.update-btn {
  margin-top: 16px;
  width: 100px;
  background-color: rgba(189, 195, 199, 1.0);
}
.acp-btn{
  margin-left: 600px !important;
}
.group-input label{
  font-size: 18px;
}
.group-input textarea{
  width: 700px;
}
.QA{
 margin-bottom: 30px;
}

