h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dtu-images {
  width: 250px;
  height: 246px;
}

.slide {
  padding: 15px;
}

.content {
  padding: 20px;
  box-shadow: 0px 3px 1px 0px #c7c7c7;
  border: 1px solid #efefef;
  border-top: none;
  text-align: center;
  background: #fff;
  border-radius: 7px;
}

.title {
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  height: 100px;
}

.date {
  text-align: justify;
}

.infor {
  text-align: justify;
  color: #424242;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-default {
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 600;
  color: #999999;

}

.btn-default:hover {
  border: 1px #1976d2 solid;
  color: #1976d2;
  background: #fff;
}
.btn-default{
  border: 1px solid  #999999;
}

.infor {
  height: 150px;
}

.owl-prev {
  background: rgb(0, 168, 255) !important;
}
