<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>DTU Connection System</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon class="button">settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon class="button">help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a class="logout">
                <mat-icon>build</mat-icon>
                Cập nhật tài khoản</a>
            </button>
            <button mat-menu-item (click)="logout()">
              <a class="logout">
                <mat-icon>exit_to_app</mat-icon>
                Đăng Xuất</a>
            </button>

          </mat-menu>
        </li>

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
