<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{teacher.teacher_name}}</h2>
      <h4>{{teacher.email}}</h4>
    </div>
    <img
      src="https://thumbs.dreamstime.com/b/portrait-young-male-teacher-background-school-blackboard-teacher-s-day-knowledge-day-back-to-school-study-159722312.jpg"
      alt="teacher_avatar">
  </div>
</mat-nav-list>
<mat-divider></mat-divider>
<h2 matSubheader>Lớp Học</h2>
<div *ngFor="let item of classOfTeacher">
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['class',item]" (click)="onClickGetClassId(item)">
    <mat-icon class="mat-icon-class">class</mat-icon>
    <span class="mat-icon-class-text">{{item}}</span>
  </a>
</div>


