:host .mat-icon{
    vertical-align: middle;
    margin-right: 20px;
  }

.profile-card {
  text-align: center;
  padding:0 20px 20px 20px;
}
.profile-card  img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.button-class{
  background-color: #0984e3;
  color: white;
  font-size: 18px;
  margin-left: 20px;
}
.mat-icon-class {
  transform: scale(1.5);
}
.mat-icon-class-text{
  font-size: 20px;
  margin-top: 200px;
}
.mat-icon{
  margin-left: 60px;
}
.mat-list-item{
  padding: 25px;
}

