<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>
<mat-drawer-container>
  <mat-drawer [opened]="sideBarOpen" mode="side">
    <app-slidebar (buttonClicked)="onClickGetClassId($event)"></app-slidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
