<div class="banner">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="/assets/banner/1.png" width="100%" height="500px">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/banner/2.png" width="100%" height="500px">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/banner/3.png" width="100%" height="500px">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/banner/4.png" width="100%" height="500px">
    </ng-template>
  </owl-carousel-o>
</div>
