@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Yuji+Mai&display=swap');

.container-fluid {
  padding: 0;
}

/*.header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background-color: #007FEA;*/
/*    padding-top: 4px;*/
/*    padding-left: 16px;*/
/*    padding-right: 16px;*/
/*}*/
/*h3 {*/
/*    color: #FFFFFF;*/
/*    font-family: 'Praise', cursive;*/
/*}*/
/*!*Search styling*!*/
/*.search {*/
/*    display: flex;*/
/*    padding: 2px;*/
/*    margin-right: 10px;*/
/*}*/
/*.search input {*/
/*    min-width: 300px;*/
/*    padding: 4px;*/
/*    border: 3px solid #ccc;*/
/*    -webkit-transition: 0.5s;*/
/*    transition: 0.5s;*/
/*    outline: none;*/
/*}*/
/*input[type=text]:focus {*/
/*    border: 3px solid #555;*/
/*  }*/
/*.search-btn {*/
/*    display: inline-block;*/
/*    border: none;*/
/*    background-color: #74b9ff;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*}*/
/*.search-btn:hover {*/
/*    background-color: #0984e3;*/
/*}*/

/*.logout {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*i {*/
/*    font-size: 24px;*/
/*}*/
/*.logout-btn {*/
/*    border: none;*/
/*    background-color: #007FEA;*/
/*}*/
/*.logout-btn:hover {*/
/*    font-weight: 500;*/
/*}*/
/*ul {*/
/*    background-color: #EDECEC;*/
/*}*/
/*.navbar-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-left: 16px;*/
/*}*/
/*.nav {*/
/*    justify-content: center;*/
/*}*/
/*.nav-link {*/
/*    color: black;*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    text-transform: uppercase;*/
/*    margin-left: 20px;*/
/*}*/
/*.nav-link:hover {*/
/*    border: none;*/
/*    font-weight: 600;*/
/*}*/
/*.notification {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.notification-text {*/
/*    margin-bottom: 0;*/
/*}*/
/*.link-notification {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    margin-left: 10px;*/
/*}*/
/*.notification-btn {*/
/*    border: none;*/
/*    background-color: #007FEA;*/
/*    color: black;*/
/*}*/
/*.notification-btn:hover {*/

/*    font-weight: 700;*/
/*}*/
.container-sub-menu {
  position: relative;
}

.sub-nav-item:first-child {
  border-bottom: 1px solid black;
  margin-left: 0;
}

.sub-nav-item {
  list-style-type: none;
  padding: 8px;
  border: none !important;
}

.sub-nav-item:hover {
  font-weight: 600;
  cursor: pointer;
}

.sub-menu {
  width: 230px;
  display: none;
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 100;
  padding-left: 0;
  background-color: rgba(245, 246, 250, 1.0);
  border-radius: 5px;
}

.sub-nav-link {
  color: black !important;
  font-size: 20px !important;
}

.sub-nav-link:hover {
  text-decoration: none !important;
  color: #0984e3 !important;

}

.container-sub-menu:hover > .sub-menu {
  display: block;
}

/*CSS mới*/

.header {
  /*background-color: #0652DD ;*/
  /*height: 100px;*/
  /*width: 100%;*/
  /*position: sticky;*/
  /*top: 0;*/
  width: 100%;
  height: 100px;
  background: #1e90ff;
  box-sizing: border-box;
  display: flex;
  /*position: sticky;*/
  /*z-index: 1000;*/
}

.logoma2 {
  width: 438px;
  display: flex;
  padding-top: 12px;
  padding-right: 0px;
  margin-left: 10px;
}

.logo-container {
  width: 80px;
  height: 70px;
}

.description-container {
  margin-left: 10px;
  padding-top: 7px;
}

.des-1 {
  font-size: 18px !important;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;;
}

.des-2 {
  font-size: 14px !important;
  text-align: center;
  font-style: italic;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-description {
  margin: 0px;
  font-size: 16px;
  color: #FFFFFF;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  margin-left: 12px;
}

.header-menu-icon {
  height: 20px;
  margin-top: 32px;
}

.nav-tab li a {
  color: #FFFFFF;
  /*text-transform: uppercase;*/
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 15px 15px 15px 2px;
  margin-top: 20px;
}

.nav-tab li:hover {
  text-decoration: none !important;
}

.nav {
  margin-left: 25px;
}

.search {
  border: none;
  background-color: #1e90ff;
  border-bottom: 1px solid white;
  width: 200px;
  color: #FFFFFF;
  display: none;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.search-form {
  margin-top: 20px;
}
.logout {
  display: flex;
  align-items: center;
  width: 380px;
}
.logout p {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 15px;
  float: right;
}

.logout-account {
  display: flex;
}

.account {
  display: flex;
  margin-top: 15px;
}

.account h3 {
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;;
}

.question-button {
  border: none;
  background-color: #1e90ff;
  color: white;
}
.account i {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
.mat-badge-content {
  background: none;
  color: white;
  font-size: 15px;
}
.bell{
  font-size: 24px;
  color: white;
  margin-top: 32px;
  margin-right: 10px;
  position: absolute;
  right: 280px;
}




