<div class="header">
  <div class="logoma2">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo/logoDT-70.png">
    </div>
    <div class="description-container">
      <p class="logo-description des-1">DTU Connection System</p>
      <p class="logo-description des-2">Hệ thống kết nối phụ huynh và nhà trường</p>
    </div>
  </div>
  <div class="container header-menu">
    <div class="navbar-collapse">
      <ul class="nav nav-tab">
        <li class="nav-item">
          <div class="header-menu-icon">
            <mat-icon>home</mat-icon>
          </div>
          <a href="" class="nav-link" routerLink="home">TRANG CHỦ</a>
        </li>
        <li class="nav-item">
          <div class="header-menu-icon">
            <mat-icon> monetization_on</mat-icon>
          </div>
          <a href="" class="nav-link" routerLink="tuition">HỌC PHÍ</a>
        </li>
        <li class="nav-item">
          <div class="header-menu-icon">
            <mat-icon>book</mat-icon>
          </div>
          <a href="" class="nav-link" routerLink="study">HỌC TẬP</a>
        </li>
        <li class="nav-item">
          <div class="header-menu-icon">
            <mat-icon>room</mat-icon>
          </div>
          <a href="" class="nav-link" routerLink="contact/apartment">LIÊN HỆ</a>
        </li>
        <li class="nav-item container-sub-menu">
          <div class="header-menu-icon">
            <mat-icon>help</mat-icon>
          </div>
          <a href="#" class="nav-link" style="display: inline-block">HỎI ĐÁP</a>
          <ul class="sub-menu">
            <li class="sub-nav-item"><a class="sub-nav-link" href="" routerLink="faq">Câu hỏi thường gặp</a></li>
            <li class="sub-nav-item"><a class="sub-nav-link" href="" routerLink="question">Câu hỏi của bạn</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="header-menu-icon">
            <mat-icon>account_circle</mat-icon>
          </div>
          <a href="" class="nav-link" [routerLink]="parent"> TÀI KHOẢN </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bell">
    <i matBadge="4" matBadgeOverlap="false" class="fas fa-bell"></i>
  </div>
  <div class="logout">
    <!-- Search form -->


<!--      <form class="form-inline md-form form-sm active-pink active-pink-2 search">-->
<!--        <input class="form-control form-control-sm" type="text" placeholder="Tìm kiếm ...." aria-label="Search"-->
<!--               mdbInput>-->
<!--        <mat-icon style="color:white">search</mat-icon>-->
<!--      </form>-->

      <div class="account">
        <mat-icon style="color: white">account_circle</mat-icon>
        <h3>Nguyễn Anh Dũng</h3>
        <button style="border: none; background-color: #1e90ff; color: white; margin-bottom: 20px  " mat-button
                [matMenuTriggerFor]="menu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <a class="logout" style="font-size: 16px">
              <mat-icon>exit_to_app</mat-icon>
              Đăng Xuất</a>
          </button>
        </mat-menu>
        <!--        <p>Đăng Xuất <mat-icon>exit_to_app</mat-icon> </p>-->
      </div>


  </div>


</div>


<!--<div class="container-fluid">-->
<!--    <div class="header">-->
<!--        <div class="navbar-header left-20">-->
<!--            <a href="" class="navbar-brand">-->
<!--                <h3>DTU Connection System</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="search">-->
<!--            <input type="text" placeholder="Tìm kiếm..."><button class="search-btn"><i class="fas fa-search"></i></button>-->
<!--        </div>-->
<!--        <div class="notification">-->
<!--            <i class="far fa-bell"></i>-->
<!--            <p class="notification-text"><a href="" class="link-notification"></a></p> <button class="notification-btn">Xem thông báo</button>-->
<!--        </div>-->
<!--        <div class="logout left-20">-->
<!--            <i class="far fa-user-circle"></i>-->
<!--            <button class="logout-btn" (click)="logout()">Đăng Xuất</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="header-menu">-->
<!--        <div class="navbar-collapse">-->
<!--            <ul class="nav nav-tab">-->
<!--                <li class="nav-item"><a href="" class="nav-link" routerLink="home">Trang chủ</a></li>-->
<!--                <li class="nav-item"><a href="" class="nav-link" routerLink="tuition">Học phí</a></li>-->
<!--                <li class="nav-item"><a href="" class="nav-link" routerLink="study">Học tập</a></li>-->
<!--                <li class="nav-item"><a href="" class="nav-link" routerLink="contact">Liên hệ</a></li>-->

<!--                <li class="nav-item container-sub-menu">-->
<!--                    <a href="#" class="nav-link" style="display: inline-block">Đặt câu hỏi</a><i class="fas fa-sort-down"></i>-->
<!--                    <ul class="sub-menu">-->
<!--                        <li class="sub-nav-item"><a class="sub-nav-link" href="" routerLink="faq">Câu hỏi thường gặp</a></li>-->
<!--                        <li class="sub-nav-item"><a class="sub-nav-link" href="" routerLink="question">Câu hỏi của bạn</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item"><a href="" class="nav-link" [routerLink]="parent">Thông tin tài khoản</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
