<div class="container-fuild">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="apartment" style="padding: 15px;font-size: 20px; font-family: 'Times New Roman', Times, serif">Phòng ban</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="teacher-information" style="padding: 15px;font-size: 20px;font-family: 'Times New Roman', Times, serif">Thông tin cố vấn học tập</a>
          </li>
      </ul>
          <router-outlet></router-outlet>
</div>
