.col-md-9 h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.information ul li {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
