.class-headder{
  text-align: center;
}
.thong-bao{
  padding: 20px;
  color: red;
  font-size: 14px;
}
.btn{

}

.mat-badge-content {
  background: #304ffe;
  color: white;
}

/*modal styling*/
label {
  display: block;
  margin: 0 auto;
  padding: 8px;
}
.btn-answer{
  margin-top: 15px;
}
/*.answer-question{*/
/*  width: 200px;*/
/*}*/
/*.manage-question{*/
/*  width: 100%;*/
/*}*/
.vl{
  border-left: 2px solid #95a5a6;
  width: 100%;
}
.manage-question h2{
  padding: 13px;
}
.close-error {
  display: none;
}
.open-error {
  display: block;
}
.alert-danger{
  margin-top: 10px !important;
}

.errorNotification {
  background-color: rgb(225, 112, 85);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

