<div class="class-headder">
  <h1>{{Student.class_name}}</h1>
  <h3>Tổng số sinh viên :{{Student.list_student_of_class.length}}</h3>
</div>
<div class="content">
  <div class="header-content">
    <mat-tab-group>
      //Tab danh sách sinh viên
      <mat-tab label="Danh Sách Sinh Viên">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th style="width: 110px">Name</th>
            <th>Ngày Sinh</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Phụ Huynh</th>
            <th>SĐT Phụ Huynh</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of Student.list_student_of_class">
            <td>{{student.student_id}}</td>
            <td>{{student.student_name}}</td>
            <td>{{student.student_birthday}}</td>
            <td>{{student.student_email}}</td>
            <td>{{student.student_address}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.parent_name}}</td>
            <td>{{student.parent_phone}}</td>
          </tr>
          </tbody>
        </table>
      </mat-tab>

      //Tab hỏi đáp
      <mat-tab>
        <div class="questionContainer">
          <ng-template mat-tab-label>
          <span matBadge="{{listQuestion.length}}" matBadgeOverlap="false">
            Hỏi Đáp
          </span>
          </ng-template>
          <div class="row g-0">
            <div class="answer-question col-md-7">
              <mat-list *ngFor="let question of listQuestion; index as i">
                <!-- đặt đk để hiện câu hỏi chưa có tl -->
                <mat-list-item>
                  <mat-icon>contact_support</mat-icon>
                  {{question.question_content}} </mat-list-item>
                <hr>
                <!-- Modal -->
                <div class="">
                  <form name="questionForm" #questionForm="ngForm" (ngSubmit)="sendAnswer(questionForm)">
                    <div class="" form-group>
                      <label>Câu trả lời</label>
                      <textarea [(ngModel)]="list_answer[i]" name="content" id="answer-content" cols="30" rows="10"
                                class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary btn-answer" (click)="getID(question)">Gửi câu trả lời</button>
                  </form>
                </div>
              </mat-list>
            </div>
            <!--          Quản lý câu hỏi-->
            <div class="manage-question col-md-4 vl">
              <h2>
                <mat-icon>question_answer</mat-icon>
                Quản lý câu hỏi
              </h2>
              <hr>
              <mat-list *ngFor="let item of Answer">
                <br>
                <mat-list-item>
                  <p style="font-size: 16px; font-weight: bold">
                    <mat-icon>label_important</mat-icon>
                    {{item.question_id}} - {{item.question_content}}
                    <span style="font-size: 12px; font-style: oblique ">({{item.create_date}})</span>
                  </p>
                </mat-list-item>
                <br>
                <mat-list-item>
                  <span style="font-size: 14px">{{item.answer_content}}</span>
                </mat-list-item>

              </mat-list>
            </div>
          </div>
        </div>

      </mat-tab>

      //Tab tạo thông báo gửi sms
      <mat-tab label="Tạo Thông Báo">
        <form name="smsForm" #smsForm="ngForm" (ngSubmit)="onClickSubmitSMS(smsForm)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="sms-content" class="thong-bao">Thông báo này sẽ được gửi đến tất cả phụ huynh trong
              lớp {{Student.class_name}} !!</label>
            <p for="sms-content">Nội dung thông báo : </p>
            <textarea [(ngModel)]="content" name="content" id="sms-content" cols="30" rows="10"
                      class="form-control" #contents="ngModel" required>
            </textarea>
            <div *ngIf="contents.errors && (contents.dirty || contents.touched)" class="alert alert-danger">
              <div>
                <h3>Bạn phải nhập nội dung</h3>
              </div>
            </div>
          </div>
          <button [disabled]="!smsForm.form.valid" class="btn btn-primary">Gửi thông báo
            <mat-icon> message</mat-icon>
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
