<div class="container height-custom">
  <div class="row">
    <div class="col-md-12">
      <h2 style="padding: 20px; font-weight: bold; font-size: 22px"> Thông tin giảng viên </h2>
      <hr>
    </div>
    <div class="col 5">
      <img style="height: 230px; width: 230px; margin-top: 10px; border-radius: 50%; margin-left: 150px"
           src="https://thumbs.dreamstime.com/b/portrait-young-male-teacher-background-school-blackboard-teacher-s-day-knowledge-day-back-to-school-study-159722312.jpg">
    </div>
    <div class="col 7">
      <mat-list class="teacher_information">
        <mat-list-item>
          <mat-icon>perm_identity</mat-icon>
          Họ tên giáo viên: <span>{{teacher.teacher_full_name}}</span></mat-list-item>
        <mat-list-item>
          <mat-icon>child_care</mat-icon>
          Ngày sinh: <span>{{teacher.birthday}}</span></mat-list-item>
        <mat-list-item>
          <mat-icon>room</mat-icon>
          Địa chỉ: <span>{{teacher.address}}</span></mat-list-item>
        <mat-list-item>
          <mat-icon> call</mat-icon>
          Số điện thoại: <span>{{teacher.phone}}</span></mat-list-item>
        <mat-list-item>
          <mat-icon> contact_mail</mat-icon>
          Email: <span>{{teacher.email}}</span></mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
