<div class="container">


  <div class="col-md-12">
    <h2 style="font-size: 24px">Các câu hỏi thường gặp</h2>
    <div id='search-box'>
      <form action='/search' id='search-form' method='get' target='_top'>
        <input id='search-text' name='q' placeholder='Tìm kiếm...' type='text'/>
        <button id='search-button' type='submit'>
          <span>Tìm kiếm</span>
        </button>
      </form>
    </div>
    <ul>
      <div class="faq-content">
        <li class="nav-item">Học phí của trường có thay đổi qua các năm không?</li>
        <li class="faq-answer">Học phi của trường sẽ có sự điều chỉnh theo từng khóa học. Không tăng theo năm.
        Ngoài ra học phí sẽ được điều chỉnh để phí để phù hợp với tình hình thực tế.</li>
      </div>
      <div class="faq-content">
        <li class="nav-item">Điểm của sinh viên sẽ cập nhật vào thời gian nào của từng kì?</li>
        <li class="faq-answer">Điểm học tập của sinh viên sẽ được cập nhật từ động khi sinh viên kết thúc môn học và phòng đào tạo tiến hàng nhập điểm
        lên hệ thống. Điểm sẽ không có thơi gian cố định. Tùy thuộc vào kì học và môn học</li>
      </div>
      <div class="faq-content">
        <li class="nav-item">Trường học có tổ chức các hoạt động ngoại khóa không?</li>
        <li class="faq-answer">Nhà trường thường tổ chức các chuyến tham quan thực tế doanh nghiệp cho sinh viên. Ngoài ra đoàn trường,
        các câu lạc bộ trực thuộc đoàn trường thường xuyên tổ chức rất nhiều hoạt động từ thiên, giao lưu, cuộc thi,... để sinh viên có thêr
        hoàn thiện và phát triển.</li>
      </div>

      <div class="faq-content">
        <li class="nav-item">Trường có hỗ trợ vay vốn cho các hộ gia đình có thu nhập thấp không?</li>
        <li class="faq-answer">Nhà trường có chính sách hỗ trợ vay vốn cho sinh viên có hoàn cảnh khó khăn thông qua các chi nhanh ngân hàng.
        Ngoài ra, nhà trường còn có các chính sách, học bỗng hỗ trợ những sinh viên có hoàn cảnh đặc biệt khó khăn</li>

      </div>

      <div class="faq-content">
        <li class="nav-item">Trường có hỗ trợ sinh viên tìm kiếm việc làm sau khi ra trường không?</li>
        <li class="faq-answer">Nhà trường có liên kết với các doanh nghiệp trong và ngoài nước. Ngoài ra hàng năm nhà trường kết hợp
        với các doanh nghiệp tổ chức các ngày hội việc làm để sinh viên có thể dễ dàng tiếp cận với cơ hội việc làm. Thực tế cho thấy hơn 94%
        sinh viên của trường đại học Duy Tân có việc làm ngay sau khi ra trường</li>

      </div>
   </ul>
  </div>
</div>
