.container {
    margin-top: 50px;
}
h2 {
    text-align: center;
}
.nav-item {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #bdc3c7;
  font-size: 18px;
}
.faq-content{
  padding: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.faq-answer{
  margin-left: 20px;
}
#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}

#search-form
{
  height: 40px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

#search-text
{
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}
#search-box{
  padding: 20px;
  width: 500px;
  margin-left: 250px;
}
#search-box input[type="text"]
{
  width: 90%;
  padding: 11px 0 12px 1em;
  color: #333;
  outline: none;
}

#search-button {
  position: absolute;
  height: 42px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-width: 0;
  background-color: dodgerblue;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  margin-left: 60px !important;
  bottom: 20px !important;
}
