<div class="container">
    <div class="col-md-12">
      <h2>Bảng thống kê học phí</h2>
      <i class="fas fa-user-graduate"></i><p style="font-size: 18px; margin-top: 10px">Sinh viên: Nguyễn Văn Linh</p>
    </div>
    <div class="row g-0">
            <!-- score table -->
            <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Tên học phí</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">Loại tiền</th>
                    <th scope="col">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="hocky"><h3>Học kì I - Năm học 2018-2019</h3></tr>
                  <tr *ngFor="let subject of firstYearFirstSemester">
                      <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                  </tr>
                  <tr class="hocky"><h3>Học kì II - Năm học 2018-2019</h3></tr>
                  <tr *ngFor="let subject of firstYearSecondSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì hè - năm học 2018-2019</h3></tr>
                  <tr *ngFor="let subject of firstYearSummerSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <!-- 19-20 -->
                  <tr class="hocky"><h3>Học kì I - Năm học 2019-2020</h3></tr>
                  <tr *ngFor="let subject of secondYearFirstSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì II - Năm học 2019-2020</h3></tr>
                  <tr *ngFor="let subject of secondYearSecondSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì hè - Năm học 2019-2020</h3></tr>
                  <tr *ngFor="let subject of secondYearSummerSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <!-- 20-21 -->
                  <tr class="hocky"><h3>Học kì I - Năm học 2020-2021</h3></tr>
                  <tr *ngFor="let subject of thirdYearFirstSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì II - Năm học 2020-2021</h3></tr>
                  <tr *ngFor="let subject of thirdYearSecondSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì hè - Năm học 2020-2021</h3></tr>
                  <tr *ngFor="let subject of thirdYearSummerSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <!-- 21-22 -->
                  <tr class="hocky"><h3>Học kì I - Năm học 2021-2022</h3></tr>
                  <tr *ngFor="let subject of fourthYearFirstSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì II - Năm học 2021-2022</h3></tr>
                  <tr *ngFor="let subject of fourthYearSecondSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
                  <tr class="hocky"><h3>Học kì hè - Năm học 2021-2022</h3></tr>
                  <tr *ngFor="let subject of fourthYearSummerSemester">
                    <td>{{subject.finance_name}}</td>
                      <td>{{subject.money}}</td>
                      <!-- api thiếu loại tiền -->
                      <td>VND</td>
                      <td>{{subject.status}}</td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
