.col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin: 20px 0;
}
.container {
    min-height: 510px;
    margin-top: 10px;

}
.hocky {
    color: #eb4d4b;
    font-size: 20px;
}
.table th {
    background-color: #0984e3;
    text-align: center;
}
.table td {
    text-align: center;
}
.hocky td{
  font-size: 16px;
}
.thead-dark tr{
  font-size: 18px;
}
.col-md-12 h2{
  color: #e74c3c ;
  font-size: 26px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.table{
  width: 1110px;
  margin-left: 15px
}
