<div class="statistic">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="col-md-3 item-solieu">
        <img class="picture" src="/assets/statistics/800px_COLOURBOX34625883.jpg">
        <div class="solieu">
          <div class="number1 number2">
            <span><app-animated [digit]="500" [duration]="2500"></app-animated></span>
          </div>
          <div class="note ">
            Top 500 đại học tốt nhất thế giới
          </div>
        </div>
      </div>
      <div class="col-md-3 item-solieu">
        <img class="picture"
             src="/assets/statistics/depositphotos_68114325-stock-illustration-graduate-student-icon.jpg">
        <div class="solieu">
          <div class="number1">
            <span><app-animated [digit]="20000" [duration]="2500"></app-animated> + </span>
          </div>
          <div class="note">
            Hơn 20.000 sinh viên đang theo học
          </div>
        </div>
      </div>
      <div class="col-md-3 item-solieu">
        <div class="item1">
          <img class="picture"
               src="/assets/statistics/briefcase-icon-black-circle-symbol-flat-business-portfolio-travel-bag-133470845.jpg">
          <div class="solieu">
            <div class="number1 number2">
              <span><app-animated [digit]="94" [duration]="2500"></app-animated>%</span>
            </div>
            <div class="note">
              94% sinh viên có việc làm
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3 item-solieu">
        <img class="picture"
             src="/assets/statistics/772-7726682_training-icon-learning-and-development-icon.png">
        <div class="solieu">
          <div class="number1">
            <span><app-animated [digit]="1000" [duration]="2500"></app-animated>+</span>
          </div>
          <div class="note">
            Hơn 1000 cán bộ, giảng viên
          </div>
        </div>
      </div>
  </div>
</div>

</div>
