.statistic {
  background: #ebedee;
  width: 100%;
  padding: 10px;
  height: 230px;
  margin-top: 0px !important;
  margin-bottom: 20px;
}
.picture{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 10px;

}
.col-md-12 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-left: 100px;
}
.item-solieu {
  padding: 30px 60px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}
.number1{
  display: flex !important;
}
.number1 span{
  font-size: 40px !important;
  color: #0984e3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px !important;
  display: flex !important;
  margin-left: 15px ;
}
.solieu{
  margin-top: 15px;
}
.note{
  margin-left: 5px;
  font-size: 18px;
  margin-top: 5px !important;
  text-align: center;
}
.item1{
  margin-left: 15px !important;
  width: 100%;
  display: flex;
}
.row{
  width: 1200px;

}
.number2 span{
  margin-left:40px !important; ;
}
