
<div class="container-fluid wrapper" style="padding-left: 0; padding-right: 0;">
    <div class="col-md-12">

      <div class="container-fluid wrapper">
          <div class="col-md-12">
              <app-navbar></app-navbar>
              <main class="col-md-12">
                  <router-outlet></router-outlet>
              </main>
          </div>
      </div>
    </div>
</div>



